.body{
  /* background-color: rgb(73, 241, 7); */
  margin: 0;
}

.header{
  height: 75vh;
  width: 100vw;
  background-image: url("ghoulc.jpg");
}

.insideBanner{
  display: flex;
  flex-direction: column;
}