.body{
  margin: 0;
  overflow: hidden;
  background-color: coral;
}
#Title{
  margin-left: -2vh;
}



.brclass{
  height: 10vh;
}

a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* <------------BUTTONS-------------> */
.btn-info{
  margin-left: 85vw;
  margin-top: 5vh;
  padding: 6px 15px 6px 15px;
  position: fixed;
  font-size: 4vh;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1000;
}
.darkbuttonholder{
  position: fixed;
  display: flex;
  margin-left: 85vw;
  margin-top: 14vh;
  z-index: 100;
}
.btn-light{
  background-color: transparent;
  border: transparent;
}
/* <-------------BUTTONS end----------> */
.header{
  height: 86vh;
  width: 100vw;
  /* background-image: linear-gradient(to right, rgb(205, 94, 209), rgb(255, 68, 68)); */
  /* background-color: #FED3EB; */
  background-color: #A0BBEC;
  /* rgb(238, 132, 132) */
  /* rgb(240, 74, 218) */
  /* filter: saturate(70%); */
}

.insideBanner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10vh;
}

.logosforside{
  float: left;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logosforside img{
  border-radius: 100px;
  height: 50px;
  width: 50px;
} 

.logosforside > a {
  margin: 10px;
}

.textInsideBanner{
  display: flex;
  flex-direction: column;
  margin-left: 4vh;
}

.logo{
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
}
@media (max-width: 768px){
  .logo{
    height: 25vh;
    width: 25vh;
    text-align: center;
    flex: none;
  }
  .textInsideBanner{
    
    margin-left: -4vh;
    font-size: x-small;
    font-weight: 400;
  }
  #Title{
    font-size: 4.95em;
    margin-left: -2vh;
  }
}

.logoSand{
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
}

h1{
  font-size: 15vh;
}

h3{
  font-size: 5vh;
}

.divfortestimonial{
  padding: 2vh 2vh 2vh 2vh;
  align-items: center;
  background-image: linear-gradient(-37deg,#ff79e6,#f85888);
  margin: 10vh;
  line-height: 6vh;
  font-size: 3vh;
  text-align: center;
  /* Will need flex when we add multiple testimonials */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.testis{
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
}

.lold{
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dicked{
  padding: 3vh;
}
  
.aboutus{
  margin: 0vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 15vh 5vh 15vh;
  text-align: left;
  line-height: 5vh;
  font-size: 3vh;
}

.sidenavbar{
  margin-top: 35vh;
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-left: 92vw;
}

@media (min-width: 768px) AND (max-width: 1291px){
  .sidenavbar{
    margin-top: 35vh;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 87vw;
  }
  
}

@media (min-width:601px) AND (max-width: 767px){
  .sidenavbar{
    margin-top: 35vh;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 84vw;
  }
  
}

@media(max-width: 600px){
  .sidenavbar{
    margin-top: 35vh;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 79vw;
  }
  
}

#testimonallogo{
  font-size: 1.5vh;
}

.sidenavbar a{
  border-radius: 50px;
  height: 10vh;
  width: 10vh;
  background-color: #FED3EB;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2vh;
}

.sidenavbar img{
  border-radius: 50px;
  height: 8vh;
  width: 8vh;
}

#dangbruh{
  height: 8vh;
  width: 8vw;
}

.sidenavbar > a {
  margin: 10px;
}

.sidenavbar{
  cursor: pointer;
}

.sidenavbar Link{
  cursor: pointer;
}

Link{
  cursor: pointer;
}
.gallerycontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30vw;
  cursor: pointer;
}

.dabbasand{
  display: flex;
  margin-top: 5vh;
  justify-content: left;
  width: 80vw;
  height: auto;
  size: 3vh;
  margin-bottom: 10vh;
}
.lulli{
  text-align: left;
  font-size: large;
}
.lildabba{
  font-size: xx-large;
  margin-right: 5vh ;
  text-align: center;
}
ul{
  list-style: none;
  text-align: left;
}
ReactCompareSlider{
  object-fit: cover;
}
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav */
/* https://www.impactbnd.com/blog/best-contact-us-page-examples */


.clients{
  display: flex;
  flex-direction: row;
}



/* <---------------------this is the GALLERY SECTION---------------------> */

.gallerySection{
  background-color: black;
  padding-left: 5vh;
  padding-right: 20vh;
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 250px);
  row-gap: 20px;
  column-gap: 20px;
}

.box1{
  background-color: turquoise;
  grid-row: 1/3;
  grid-column: 1/2;
}
.box2{
  background-color: blue;
  grid-row: 1/2;
  grid-column: 2/4;
}
.box3{
  background-color: rebeccapurple;
  grid-row: 1/3;
  grid-column: 4/5;
}
.box4{
  background-color: red;
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 50px;
}
.box5{
  background-color: green;
  grid-row: 2/4;
  grid-column: 3/4;
}
.box6{
  background-color: greenyellow;
  grid-row: 3/4;
  grid-column: 4/5;
  font-size: 50px;
}
.box7{
  background-color: yellow;
  grid-row: 3/4;
  grid-column: 1/3;
}
.divider{
  width: 50vw;
  height:0.5vh;
  margin: 0;
  justify-self: center;
}
.galleryText{
  color: white;
  align-self: center;
}
.randoGalleryDiv{
  font-family: cursive;
  padding-top: 5vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.crossIcon{
  height: 5vh;
  width: 5vh;
}
.galleryImage{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallerySection figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}
.gallerySection figure img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: .5;
}

figure{
  overflow: hidden;
  /* max-width: 100%;
  max-height: 100%; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}


/* <-------------------GALLERY section ends-----------------> */



/* Can change scrollbar things using this
body::-webkit-scrollbar{
  width: .25rem;
}

body::-webkit-scrollbar-track{
  background-color: chartreuse;
}

body::-webkit-scrollbar-thumb{
  background-color: black;
} */

.nav-item:last-child{
  margin-top: auto;
  /* Using a pseudo selector for the last child will push it to the end */
}



/* <-------------------this is the FOOTER-----------------> */

 .main_foot{
  width: 100vw;
  background-color: rgb(49, 45, 45);
  color: white;
  font-size: medium;
  padding-top: 6vh;
  padding-left: 7vh;
}
.col-4{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  padding: 0;
  margin: 0;
}
.footerh3{
  text-decoration-line: underline;
}
.reducelineheight{
  line-height: 0.5vh;
}
.increasemargin li{
  margin: 0.7vh;
  cursor: pointer;
  color: rgb(16, 255, 255);
}
.increasemargin a{
  color: rgb(16, 255, 255);
}
h5{
  color: rgb(16, 255, 255);
}
/* 
{-------------Meet the Team Section ----------------------} */
.Collapsible__contentOuter{
  margin-top: 3%;
}
.Collapsible__contentInner{
  display: flex;
}
.Collapsible__trigger{
  background-color: #f85888;
  font-weight: 500;
  box-shadow: 3px 5px rgb(41, 40, 40);
  padding: 1vh;
  padding-right: -1.5vh;
  font-size: .85em;
  margin-left: 40%;
  border-radius: 15px;
  width: 20%;
  cursor: pointer;
}
.director-tt{
  padding: 4vh;
  /* box-shadow: 3px 3px rgb(41, 40, 40); */
  font-size: .70em;
}
.Collapsible__trigger:hover{
  margin-left: 38%;
  width: 24%;
  font-size: .95em;
  background-color: #ff9dba;
  box-shadow: 4px 6px black;

}
/* 
{-------------Meet the Team Section Ends----------------------} */

@media (max-width: 768px){
  #KILLME{
    display: none;
  }
}

.logo-alt img{
  height: 40%;
  width: 40%;
  margin-left: 30%;
  margin-top: -3vh;
  margin-bottom: -6vh;
}
@media (max-width: 768px){
  .logo-alt img{
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-top: -1vh;
    margin-bottom: -3vh;
  }
  .text-banner-alt{

    font-size: smaller;
    line-height: 11vh;
    line-height: 9vh;
    text-align: center;
  }
  .text-banner-tag-alt{
    font-size: 4vh;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
  }
}
.text-banner-alt{
  margin-top: -2vh;
  font-size: 10vh;
  text-align: center;
  font-weight: 400;
}
.text-banner-tag-alt{
  font-size: 7vh;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 5%;
}
.Container-class-alt-banner{
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 10%;
  background-color: none;

}