.body{
  margin: 0;
}

a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.floatingbutton{
margin-left: 80vw;
margin-top: 10vh;
background-color: black;
padding: 10px 20px 10px 20px;
color: white;
position: fixed;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border-radius: 20px;
cursor: pointer;
}

.header{
  height: 75vh;
  width: 100vw;
  background-image: linear-gradient(to right, red , blue);
  /* background-image: url("ghoulc.jpg"); */
}

.insideBanner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10vh;
}

.textInsideBanner{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
}

h1{
  font-size: 15vh;
}

h3{
  font-size: 5vh;
}

.divfortestimonial{
  padding: 2vh 2vh 2vh 2vh;
  align-items: center;
  background-color: orangered;
  margin: 10vh;
  line-height: 6vh;
  font-size: 3vh;
  text-align: center;
  /* Will need flex when we add multiple testimonials */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.testis{
  margin: 10vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 5vh;
}

.lold{
  margin: 10vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
  
.aboutus{
  /* color: whitesmoke; */
  /* background-color: rgb(126, 125, 125); */
  background-color: turquoise;
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vh 5vh 5vh;
  line-height: 6vh;
  font-size: 3vh;
  text-align: center;
}

.sidenavbar{
  margin-top: 25vh;
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-left: 90vw;
}
#testimonallogo{
  font-size: 1.5vh;
}

.sidenavbar a{
  border-radius: 50px;
  height: 10vh;
  width: 10vh;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2vh;
}

.sidenavbar > a {
  margin: 20px;
}

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav */
/* https://www.impactbnd.com/blog/best-contact-us-page-examples */