*{
    padding: 0;
    margin: 0;
    font-weight: 400;
    
  }
   
  .contact_banner{
    border-radius: 5vh;
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
   
  }
  .details{
    color: white;
    font-family: 'Cinzel', serif;
    padding: 2vh 0vh 0vh 0vh;
    align-items: center;
    background-image: linear-gradient(-120deg,#e82661,#4b1942,#e82661);
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    font-size: 4vh;
    text-align: left;
    padding-left: 5vw;
    border-radius: 5vh;


    display: flex;
    flex-direction: row;
    
  }
  .labelfont{
    font-size: 3vh;
    margin-right: 0;
  }  

  .formalignleft{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* justify-content: left; */
      padding-left: 3vw;
  }

  .formalignleft > label {
    margin: 10px;
  }

  .lowercontainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: 50vh;
    /* background-color: red; */
    align-content: center;
    color: white;
    font-family: 'Cinzel', serif;

  }

  .left{
    width: 37vw;
    height: 70vh;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#f85888,#9c378a);
    display: flex;
    justify-content: center;
    line-height: 50px;
  }

  /* Left and right have different gradients right now */
  /* Check which one looks better right now */
  .right{
    width: 37vw;
    height: 70vh;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#e82661,#4b1942);
    display: flex;
    justify-content: center;
  }

  .uselessContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }